<table class="w-[570px] mx-[15px]">
  <tr>
    <td>
         <div class="w-full h-55 bg-gray-400 h-[220px]">
           
          </div>
    </td>
  </tr>
  <tr>
    <td class="text-[#008080] text-[16px] leading-[22px] pt-[26px] text-center">
        <h1 class="text-[#008080]">Excepteur sint occaecat cupidatat</h1>
    </td>
  </tr>
  <tr>
    <td class="text-[#000049] text-[16px] leading-[22px] pt-[26px] text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
  </tr>
  <tr>
    <td class="text-center pt-[26px] pb-[50px]">
      <button class="border border-teal-500 bg-teal-700 text-white px-[50px] py-[10px] rounded-xl font-bold text-[22px] border-0">
        Ut enim ad minim veniam
       </button>
    </td>
  </tr>
</table>