<table class="w-[570px] mx-[15px]">
  <tr>
    <td class="w-full">
      <h5 class="text-[#000000] py-[15px] text-left">Ut enim ad minim:</h5>
    </td>
  </tr>
  <tr>
    <td class="text-[13px] pb-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
  </tr>
  <tr>
    <td class="text-[13px] pb-[20px]">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
  </tr>
  <tr>
    <td class="w-full">
      <h5 class="text-[#000000] my-[5px] text-left">Sint occaecat cupidatat:</h5>
    </td>
  </tr>
  <tr>
    <td>
          <ol class="list-decimal pl-5 text-[#000000] text-[13px]">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          </ol>
    </td>
  </tr>
  <tr>
    <td>
      <hr class="h-[1px] bg-teal-700"/>
    </td>
  </tr>
  <tr>
    <td>
      <p class="text-[#000000] py-[15px] text-[13px] text-center">Lorem ipsum dolor sit amet, consectetur </p>
    </td>
  </tr>
  <tr>
    <td class=" py-[20px]">
    <div class="w-[130px] bg-gray-400 h-14 mx-auto">
    </div>
    </td>
  </tr>
</table>


