<table class="w-[600px] bg-gray-700 high px-[10px]">
  <tr>
    <td class="">
    <table class="w-full bg-gray-100">
      <tr>
        <td class="text-[#008080] text-[20px] leading-[22px] text-center w-full">
          <h2 class="text-[#008080] py-[15px]">Sint cupidatat occaecat ut</h2>
        </td>
      </tr>
    </table> 
   </td> 
  </tr>
  <tr>
    <td>
    <table class="w-full bg-gray-100">
      <tr>
        <td class="text-[20px] leading-[22px] pt-[26px] text-center w-[270px] bg-gray-100 mx-[15px] pb-[40px]" >
          <table class="bg-white">
            <tr>
              <td class="px-[75px] pt-[20px] bg-gray">
                <div class="h-40 bg-gray-400 w-[150px] rouned-full text-center">
                </div>
              </td>
            </tr>
            <tr>
              <td><h2 class="text-[#008080] py-[15px] text-center">Nisi ut ade</h2></td>
            </tr>
            <tr>
              <td class="px-[30px] text-[16px] pb-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</td>
            </tr>
          </table>
        </td>
        <td class="text-[20px] leading-[22px] pt-[26px] text-center w-[270px] bg-gray-100 mx-[15px] pb-[40px]">
          <table class="bg-white">
            <tr>
              <td class="px-[75px] pt-[20px]">
                <div class="h-40 bg-gray-400 w-[150px] rouned-full text-center">
                </div>
              </td>
            </tr>
            <tr>
              <td><h2 class="text-[#008080] py-[15px] text-center">Duis aute irure</h2></td>
            </tr>
            <tr>
              <td class="px-[30px] text-[16px] pb-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</td>
            </tr>
            
          </table>
        </td>
      </tr>
    </table>
  </td>
  </tr>
</table>
